* {
    display: inline;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 80vh;
}

#panel {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #050505;
    color: #777;
}

#pager {
    padding: 0 5px;
}

.pager-workspace {
    padding: 0 5px;
}

.pager-workspace:hover {
    color: white;
    cursor: pointer;
}

.pager-workspace-active {
    color: white;
    background-color: #111;
}

.tasklist-task {
    background-color: #111;
    margin: 0 5px;
    padding: 0 10px;
}

.tasklist-task:hover {
    background-color: #222;
    cursor: pointer;
}

#float-right {
    position: sticky;
    top: 0;
    float: right;
}